{% extends "layout.html" %}

{% block content %}
<div class="card shadow-sm" style="min-height: 450px;">
    <div class="card-body p-4">
      <h2 class="text-center text-primary mb-4">Add Trainer Test Problem</h2>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 text-center">New Trainer Test Problem</legend>


        <!-- description -->
        <div class="form-group mb-3">
            {{ form.id.label(class_="form-label") }}
            {{ form.id(class_="form-control form-control-lg " + ("is-invalid" if form.id.errors else ""), placeholder="id") }}
            {% if form.id.errors %}
            <div class="invalid-feedback">
              {% for error in form.id.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!-- question -->
          <div class="form-group mb-3">
            {{ form.question.label(class_="form-label") }}
            {{ form.question(class_="form-control form-control-lg " + ("is-invalid" if form.question.errors else ""), placeholder="question") }}
            {% if form.question.errors %}
            <div class="invalid-feedback">
              {% for error in form.question.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!--  option1 -->
          <div class="form-group mb-3">
            {{ form.option1.label(class_="form-label") }}
            {{ form.option1(class_="form-control form-control-lg " + ("is-invalid" if form.option1.errors else ""), placeholder="option1") }}
            {% if form.option1.errors %}
            <div class="invalid-feedback">
              {% for error in form.option1.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>


          <!--  optio32-->
          <div class="form-group mb-3">
            {{ form.option2.label(class_="form-label") }}
            {{ form.option2(class_="form-control form-control-lg " + ("is-invalid" if form.option2.errors else ""), placeholder="option2") }}
            {% if form.option2.errors %}
            <div class="invalid-feedback">
              {% for error in form.option2.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>


          <!--  answer-->
          <div class="form-group mb-3">
            {{ form.option3.label(class_="form-label") }}
            {{ form.option3(class_="form-control form-control-lg " + ("is-invalid" if form.option3.errors else ""), placeholder="option3") }}
            {% if form.option3.errors %}
            <div class="invalid-feedback">
              {% for error in form.option3.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>


          <!--  answer-->
          <div class="form-group mb-3">
            {{ form.option4.label(class_="form-label") }}
            {{ form.option4(class_="form-control form-control-lg " + ("is-invalid" if form.option4.errors else ""), placeholder="option4") }}
            {% if form.option4.errors %}
            <div class="invalid-feedback">
              {% for error in form.option4.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          

          <!--  answer-->
          <div class="form-group mb-3">
            {{ form.answer.label(class_="form-label") }}
            {{ form.answer(class_="form-control form-control-lg " + ("is-invalid" if form.answer.errors else ""), placeholder="answer") }}
            {% if form.answer.errors %}
            <div class="invalid-feedback">
              {% for error in form.answer.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!-- Submit Button -->
          <div class="d-grid mb-3">
            {{ form.submit(class_="btn btn-primary btn-lg") }}
          </div>

        </fieldset>
      </form>
    </div>
  </div>
{% endblock content %}
