<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codemon - Become a Code Master</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button class="back-button"><img src="./static/pngs/back_button.png" alt=""></button>
    <div class="start_container">
        <h1 class="title"><img src="/pngs/game_name.png" alt="" width="650px"></h1>
        <p class="subtitle">Become a Code Master!</p>

        <div class="characters">
            <img src="./static/pngs/ash.png" alt="Ash" class="ash">
            <img src="./static/pngs/chalizard.png.png" alt="Pikachu" class="chalizard">
             <img src="./static/pngs/charmander.png" alt="Charmander" class="charmander">
            <img src="./static/pngs/squirtle.png" alt="Squirtle" class="squirtle">
            <img src="./static/pngs/bulbasaur.png" alt="Bulbasaur" class="bulbasaur">
            <img src="./static/pngs/onix.png" alt="Onix" class="onix">
            <img src="./static/pngs/haunter.png" alt="Haunter" class="haunter">
            <img src="./static/pngs/butterfree.png" alt="Butterfree" class="butterfree"> 
            <img src="./static/pngs/articuno.png" alt="Pidgeot" class="articuno">
        </div>

        <a href="{{ url_for('home') }}"> <button class="start-btn" >START YOUR JOURNEY</button></a>
    </div>
</body>
</html>
