<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trainer Badges</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <button class="back-btn"><img src='./assets/back_button.png' alt='back button'></button>
        <h1>
          <img src="./assets/image1.png" alt="Pokeball" class="pokeball" />
          <img src="./assets/Trainer.png" alt="Trainer" class="Trainer" />
          <img src="./assets/image1.png" alt="Pokeball" class="pokeball" />
        </h1>
      </div>
    </header>
    <main>
      <section class="badges-section">
        <h2>Earned Badges:</h2>
        <div class="badges-grid">
          <div class="badge">
            <img src="./assets/image2.png" alt="Array Master" />
            <p>Array Master</p>
          </div>
          <div class="badge">
            <img src="./assets/image3.png" alt="Code Sentinel_3" />
            <p>Code Sentinel_3</p>
          </div>
          <div class="badge">
            <img src="./assets/image4.png" alt="Top 1% User" />
            <p>Top 1% User</p>
          </div>
          <div class="badge">
            <img src="./assets/image5.png" alt="String Conqueror" />
            <p>String Conqueror</p>
          </div>
          <div class="badge">
            <img src="./assets/image6.png" alt="Ace Variable" />
            <p>Ace Variable</p>
          </div>
          <div class="badge">
            <img src="./assets/image7.png" alt="Code Sentinel_50" />
            <p>Code Sentinel_50</p>
          </div>
          <div class="badge">
            <img src="./assets/image8.png" alt="Beginner" />
            <p>Beginner</p>
          </div>
          <div class="badge">
            <img src="./assets/image9.png" alt="DSA Beginner" />
            <p>DSA Beginner</p>
          </div>
        </div>
      </section>
      <section class="badges-section">
        <h2>Locked Badges:</h2>
        <div class="badges-grid">
          <div class="badge locked">
            <img src="./assets/image10.png" alt="Code Sentinel_100" />
            <p>Code Sentinel_100</p>
          </div>
          <div class="badge locked">
            <img src="./assets/image11.png" alt="Java Lover" />
            <p>Java Lover</p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
